<div class="container-all">
  <div class="header-bg-color"></div>
  <h1 id="page-title">Bon-Plans</h1>
  <%= image_tag "wave.svg", class: "wave-header" %>
</div>
<!-- Dropdown -->
<div class="dropdown">
  <button class="dropbtn">Filtre</button>
  <div class="dropdown-content">
    <a class="filter" id="banana">Bananes</a>
    <a class="filter" id="beer">Bière</a>
    <a class="filter" id="capuccino">Cappuccino</a>
    <a class="filter" id="water">Eau</a>
    <a class="filter" id="transport">Transport</a>
  </div>
</div>
<!-- All cards  -->
<div class="all-cards container-all">
  <% @destinations.each do |destination| %>
    <div class="destination-card grow">
        <div class="destination-info">
          <div class="destination-header">
            <h2 id="destination-name"><%= destination.destination_name %></h2>
            <%= image_tag destination.country_flag, class: "country-flag" %>
          </div>
          <h6 id="country-name"><%= destination.country_name.upcase %></h6>

          <p id="transport-price" class="data hide">
            <%= image_tag "train-ticket.svg", class: "info-icon" %>
            <%= destination.transport_price.last(6) %>
          </p>

          <p id="banana-price" class="data hide">
            <%= image_tag "banana.svg", class: "info-icon" %>
            <%= destination.banana_price.last(6) %>
            <span class="mass-type">/kg</span>
          </p>

          <p id="water-price" class="data hide">
            <%= image_tag "water.svg", class: "info-icon" %>
            <%= destination.water_price.last(6) %>
            <span class="mass-type">/1,5L</span>
          </p>

          <p id="capuccino-price" class="data hide">
            <%= image_tag "cappuccino.svg", class: "info-icon" %>
            <%= destination.capuccino_price.last(6) %>
          </p>

          <p id="beer-price" class="data">
            <%= image_tag "pint.svg", class: "info-icon" %>
            <%= destination.beer_price.last(6) %>
            <span class="mass-type">/0.5L</span>
          </p>
        </div>

      <div class="bg">
        <div class="destination-image">
          <%= image_tag destination.photo_link, class: "photo-link" %>
        </div>

        <div class="bg-svg">
          <svg class="svg-sep" viewBox="0 0 46 211" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H46L0 211V0Z" fill="#F5F5F5"/>
          </svg>
        </div>
      </div>

    </div>
  <% end %>
</div>
