<div class="container-all">
  <h1>Bons plans</h1>
</div>

<div class="dropdown">
  <button class="dropbtn">Filter</button>
  <div class="dropdown-content">
    <a href="#" id="banana">Banana</a>
    <a href="#" id="water">Water</a>
    <a href="#" id="transport">Transport Price</a>
  </div>
</div>

<div class="all-cards container-all">
  <% @destinations.each do |destination| %>
    <div class="destination-card grow">
        <div class="destination-info">
          <h2 id="destination-name"><%= destination.destination_name %></h2>
          <p id="transport-price" class="show"><%= destination.transport_price %></p>
          <p id="banana-price" class="hide"><%= destination.banana_price %></p>
          <p id="water-price" class="hide"><%= destination.water_price %></p>
        </div>
      <div class="bg">
        <div class="destination-image">
          <%= image_tag destination.photo_link %>
        </div>

        <div class="bg-svg">
          <svg class="svg-sep" viewBox="0 0 46 211" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H46L0 211V0Z" fill="#F5F5F5"/>
          </svg>
        </div>
      </div>


      </div>
  <% end %>
</div>
